*{
    margin: 0;
    padding: 0;
}

.font_inter {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  
}
nav{
    max-width:1600px;
    max-height: 92px;
    
    background-color: #FFFFFF;
}
#navigation-bar{
    display: flex;
    justify-content: space-between;
    
}
.navigation-logo{
    width: 139px;
    height: 60px;
    margin: 16px 0 16px 120px;
    
}
.navigation-links a:hover{
    color: #469165;

}
.navigation-icon{
    background-color: #469165;
    margin: 24px 120px 24px 0;
    width: 164px;
    height: 44px;
    
    text-decoration: none;
    border-radius: 4px;
    cursor: pointer;
    
    
}
.navigation-icon a:hover{
    
    background-color: #627382c5;
    border-radius: 4px;
    border: 1px solid #FFFFFF;
}
.navigation-icon a{
    padding: 12px 16px 12px 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #FFFFFF;
    text-align: center;
}
.navigation-links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
    
    
    
}
.navigation-links a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    color: #000000;
}
#banner{
    max-width: 1600px;
    
    background: url(../assets/hero-bg.png);
    background-repeat: no-repeat;
}
.banner-container{
    
    max-width:1360px ;
    max-height: 379px;
    padding: 116px 0 263px 0;
    
}
    

.container-access {
    display: flex;
    justify-content: center;
    border: #30B868;
    
    
}

.container-access a{
    text-decoration: none;
    color: #469165;
    font-size: 16px;
    font-weight: 500;
     display: flex;
    justify-content: center;
    align-items: center;
    width: 229px;
    height: 35px;
    background-color: #FFFFFF;
    
    border-radius: 1000px;
    border: 1px solid #30B868;
}
.container-access a:hover{
     border: 1px solid #F7F6F2;
     background-color: #627382;
     color: #F7F6F2;
     
}
    
.banner_h1{
    font-size: 72px;
    font-weight: bold ;
    line-height: 84px;
    color: #FFFFFF;
    text-align: center;
    margin-top: 16px;
    
}
.full-pragraph{
    margin-top: 16px;
    text-align: center;
}



.text_color{
    color: #30B868;
}


.pra_text {
    font-size: 18px;
    line-height: 84px;
    color: #FFFFFF;
    margin-top: 16px;
   
    
    
}





.banner-vault {
   width: 251px;
   height: 52px;
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 15px;
   background-color: #30B868;
   border-radius: 4px;
}




.banner-vault a{
    text-decoration: none;
    color: #FFFFFF;
    text-align: center;


}


.container_box{
    display: flex;
    justify-content: center;
    gap: 16px;
    align-items: center;
}
.banner-works{
    width: 198px;
    background: none;
    border:2px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner-works a{
    text-decoration: none;
    
    color: #FFFFFF;
    padding: 16px 16px 16px 16px;

}
.banner-works a:hover{
    
    color: #627382;
}
#note{
    max-width: 1600px;
    background-color: #FFFFFF;
    
}
.note_container{
    mask-composite: 1340px;

    
}
.container_head{
    max-width: 1340px;
    height: 152px;

    text-align: center;
    margin: 0 120px 44px 120px;

}
.head_pra{
    font-size: 16px;
    line-height: 20px;
    color: #627382;
}
.head_h1{
    font-size: 48px;
    color: #001931;
    margin-bottom: 16px;
}
.container_card{
    
    display: flex;
    justify-content: space-between;
    gap: 24px;
    margin: 0 120px 0 120px;
    
}
.card{
    width: 322px;
    padding: 55px 24px 55px 24px;
    box-shadow: 0 0 8px #00000049;
    border-radius: 8px;
}



.card img{
    margin-left:70px ;
    width: 30px;
    background-color:#F95555;
    border-radius: 50%;
    padding: 16px;
}
.card h3{
    margin-top: 16px;
    font-size: 24px;
    font-weight: 600;
    color: #001931;
}
.card p{
    margin-top:16px;
    font-size: 16px;
    line-height: 20px;
    color:#627382;


}
#brain{
    max-width: 1600px;
}
.brain_container{
    display: flex;
    gap:60px;
    margin: 120px ;
}
.container_image img{
    max-width: 600px;
    max-height: 600px;
    
}
.container_note{
    
    
    padding: 102px auto 102px 0;

}
.note_solution{
    font-size: 16px;
    line-height: 20px;
    font-weight: 500;
    color: #469165;
}
.second_brain{
    font-size: 48px;
    color: #001931;
    font-weight: bold;
    margin-top: 16px;
}
.note_knowledge{
    margin-top: 40px;
    font-size: 16px;
    line-height: 20px;
    color: #627382;
}
.container_note ul li{
    list-style-image: url(../assets/CheckCircle.png);
    margin-top: 16px;
    
}
#challange{
    max-width: 1600px;
    margin: 120px 120px;
}
.challange_container{
    max-width: 1200px;
    padding: 80px 40px;
    margin: 0 auto;
    background-color: #F7F6F2;
    border-radius: 12px;

}
.challange_h1{
    text-align: center;
}
.challange_h1 h1{
    font-size: 40px;
    font-weight: bold;
    color: #001931;
}
.challange_h1 p{
    margin-top: 16px;
    font-size: 16px;
    line-height: 24px;
    color: #627382;
}
.buy_icon{
    width: 194px;
    height: 52px;
    background-color: #469165;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin: 16px auto;
    
}
.buy_icon a{
    text-decoration: none;
    color: #FFFFFF;
    text-align: center;
}
.buy_icon:hover{
    background-color: #627382;
    border: 1px solid #FFFFFF;
    border-radius: 4px;
}
footer{
    background-color: #001931;
    max-width: 1600px;
    height: 352px;
}
.footer_nav{
    max-width: 1360px;
    display: flex;
    justify-content: space-between;
    padding: 120px 120px 0 120px;
    margin-bottom: 80px;
    
}
.line_color{
    height: 1px;
    max-width: 1200;
    margin: 0 auto;
    border: none;
    background-color:#FAFAFA;
    
    
}
.footer_copyright p{
    color: #FAFAFA;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 120px 30px 120px;
    padding: 20px;

}
.footer_social p{
    color:#FFFFFF ;
    font-size: 20px;
    line-height: 24px;
    font-weight: 500;
}